[Unit]
Description=localxpose
After=network.target

[Service]
ExecStart=/opt/lxp/lxp.sh
ExecReload=/bin/kill -HUP $(/bin/pidof /opt/lxp/loclx)

[Install]
WantedBy=multi-user.target