[Unit]
Description=localxpose
After=network.target

[Service]
ExecStart=/opt/lxp/lxp.sh
ExecReload=/bin/kill -HUP $(/bin/pidof /opt/lxp/loclx)
ExecStop=/bin/kill -HUP $(/bin/pidof /opt/lxp/loclx)
KillMode=process
IgnoreSIGPIPE=true
Restart=always
RestartSec=3
Type=simple

[Install]
WantedBy=multi-user.target